.header{
    text-align: center;
}
.container{
    margin-top: 50px;
}
.img1 {
    margin-right: 20px;
    border-radius: 10px;
    max-width: 100%
}
body > div > div > div > p{
    text-align: center;
}